version: 2
jobs:
        build:
                docker:
                        - image: circleci/node:4.8.3
                steps:
                        - checkout
                        - run: echo "Hello World!"
                        - run:
                                command: export CLOUDSDK_CORE_DISABLE_PROMPTS=1
                        - run: 
                                name: Install Google Cloued
                                command: curl https://sdk.cloud.google.com | bash
                        - run: 
                                command: gcloud version
                        - run: 
                                name: Decode Google Cloud Credentials       
                                command: echo ${GOOGLE_AUTH} | base64 -i --decode > ${HOME}/gcp-key.json
                        - run:
                                command: gcloud auth activate-service-account --key-file ${HOME}/gcp-key.json
                        - run:
                                command: gcloud --quiet config set project ${GOOGLE_PROJECT_ID}
                        - run:
                                command: gcloud --quiet config set compute/zone ${GOOGLE_COMPUTE_ZONE}
                        - run: 
                                command: gcloud --quiet container clusters get-credentials ${GOOGLE_CLUSTER_NAME}
